.App h1{
    color: #009879;
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
}

.App {
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./resources/images/booking.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; 
  z-index: -1; /* Place it behind other elements */
}
